<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
{% if not login %}
    <form action="/login" method="post">
        Username: <input name="username">
        Password: <input name="password">
        <input type="submit" id="login-attempt" name="login-attempt" value="login">
    </form>
{% else %}
    <p> Hi {{ login }}</p>
    <a href={{ url_for('logout') }}>logout</a>
{% endif %}
<table>
    <tr>
        <td>Course code</td>
        <td>Course name</td>
        <td>School</td>
        <td>Polytechnic</td>
        <td>Lower Bound</td>
        <td>Upper Bound</td>
    </tr>
    <tr>
        {% for item in chosenCourse %}
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
        {% endfor %}
    </tr>
</table>
<h2>Comment section</h2>
<table>
    {% for item in courseComments %}
        <tr>
            <td>Username:</td>
            <td>{{ item[1] }}</td>

            <td>Description:</td>
            <td>{{ item[0] }}</td>
            <form action="{{ url_for('upvote') }}" method = "post">
                <input type="hidden" name="upvote" value="{{ item[2] }}">
                <td><input type="submit" value = "upvote"></td>
            </form>

            <form action="{{ url_for('downvote') }}" method = "post">
                <input type="hidden" name="downvote" value="{{ item[2] }}">
                <td><input type="submit" value = "downvote"></td>
            </form>


        </tr>


    {% endfor %}
</table>
<p>Enter your comments: </p>
<form method="post">
<textarea rows="4" cols="50" name="textbox" >
Enter text here...</textarea>
    {% for item in chosenCourse %}
    <input type="hidden" name="course-code" value={{ item[0] }}>
    {% endfor %}
    <input type="submit">
</form>
</body>
</html>