<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if not login %}
        <form method="post">
            Username: <input name="username">
            Password: <input name="password">
            <input type="submit" id="login-attempt" name="login-attempt" value="login">
        </form>
    {% else %}
        <p> Hi {{ login }}</p>
        <a href={{ url_for('logout') }}>logout</a>
    {% endif %}
    <title>Courses Eligible</title>
    {% if aggregate %}
        <p>Your aggregate score: {{ aggregate }}</p>
    {% endif %}
    {% if schoolQuery %}
        <p>Showing school courses</p>
    {% endif %}
    {% if school %}
        <p>Showing {{ school }}</p>
    {% endif %}
    <table>
        <tr>
            <td>Course code</td>
            <td>Course name</td>
            {% if schoolQuery %}
                <td>School name</td>
            {% endif %}
            <td>Polytechnic</td>
            <td>Lower Bound</td>
            <td>Upper Bound</td>
        </tr>
        {% for item in eligibleCourses %}
            <tr></tr>
            <td><a href="{{url_for('comments', comment=item[0])}}">{{ item[0] }}</a></td>
            <td>{{ item[1] }}</td>
            {% if schoolQuery %}
                <td>{{ item[2] }}</td>
            {% endif %}
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            </tr>
        {% endfor %}
    </table>

</head>
<body>

</body>
</html>