<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Eligible</title>
    {% if aggregate %}
    <p>Your aggregate score: {{ aggregate }}</p>
    {% endif %}
    {% if school %}
    <p>Showing {{ school }}</p>
    {% endif %}
    <table>
        <tr>
            <td>Course code</td>
            <td>Course name</td>
            <td>School name</td>
            <td>Polytechnic</td>
            <td>Lower Bound</td>
            <td>Upper Bound</td>
        </tr>
        {% for item in eligibleCourses %}
            <tr></tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            </tr>
        {% endfor %}
    </table>

</head>
<body>

</body>
</html>