{% extends 'base.html' %}

{% block main %}
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
    
            {% if not login %}
       
            <li><a href="/login-form">Login</a></li>
    
            <li><a href="/signup">Sign Up</a></li>
    
            {% else %}
            <li><a href={{ url_for('logout') }}>Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if not login %}
    {% else %}
        <p> Hi {{ login }}</p>
    {% endif %}

    <div class="section">
    <p>showing scholarships offered by {{ school }}</p>
    <table class="course-table table table-light-grey table-border">
    <thead>
        <tr>
            <td>Scholarships</td>
            <td>Criteria</td>
        </tr>
    </thead>
    <tbody>
        {% for item in range(scholarshipsOffered|length) %}
            <tr>
                <td>{{ scholarshipsOffered[item][0] }}</td>
                <td>
                    {% for x in range(criteriaList|length) %}
                        {% if x == item %}
                            {% for y in range(criteriaList[x]|length) %}
                                {% for z in range(criteriaList[y]|length) %}
                                    {{ criteriaList[x][y][z] }}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}
    </tbody>
    </table>
    </div>
</body>
{% endblock %}