{% extends 'base.html' %}

{% block main %}

<body>
    <nav>
        <ul>
             <li><a href="/">Home</a></li>
   
             <li><a href="/login-form">Login</a></li>

             <li><a href="/signup">Sign Up</a></li>
        </ul>
   </nav>

    <div class="login-signup-box">
        <h1>Sign Up</h1>

        <form method="post">
            <p>Username:</p>
            <input type="text" name="username" placeholder="Enter username...">
            <p>Password:</p>
            <input type="password" name="password" placeholder="Enter password...">
            <button type="submit" name="create-acc" value="create account" class="btn2 btn-sm">Sign Up</button>
        </form>

        <a href="/login-form">Already have an Account? Login here!</a>
    </div>
</body>

    

{% endblock %}