Flask-PyMongo

          <!--

            <td><a href="{{# url_for('comments', comment=item[0]) }}">{{# item[0] }}</a></td>
            <td>{{# item[2] }}</td>

            -->


    {% for dictItem in online_users %}
        {% for key, value in dictItem.items() %}
            {{ value }}
        {% endfor %}
    {% endfor %}