{% extends 'base.html' %}
{% block main %}
    <body>
    {% if not login %}
        <form action="/login" method="post">
            Username: <input name="username">
            Password: <input name="password">
            <input type="submit" id="login-attempt" name="login-attempt" value="login">
        </form>
    {% else %}
        <p> Hi {{ login }}</p>
        <a href={{ url_for('logout') }}>logout</a>
    {% endif %}
    <table>
        <tr>
            <td>Course name</td>
            <td>Course code</td>
            <td>Lower Bound</td>
            <td>Upper Bound</td>
            <td>School name</td>
            <td>Polytechnic</td>
            <td>Citizen Fee</td>
            <td>PR Fee</td>
            <td>Non PR Fee</td>
        </tr>
        <tr>
            {% for dictItem in chosenCourse %}

                {% for key, value in dictItem.items() %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>
    <h2>Comment section</h2>
    <table>
        {% set count =  [] %}
        {% for dictItem in courseComments %}
            <tr>
                {% set idx = count|length %}

                {% for key, value in dictItem.items() %}

                    {% if key == 'description' %}
                        <td>Description:</td>
                        <td>{{ value }}</td>
                    {% elif key == 'username' %}
                        <td>Username:</td>
                        <td>{{ value }}</td>
                        {% if login == value %}
                            {% set saveCommentID = dictItem['_id']  %}
                        {% endif %}
                    {% elif key == '_id' %}

                        {% if highlightVote %}
                            {% if highlightVote[idx] == 1 %}

                                <form action="{{ url_for('upvote') }}" method="post">
                                    <input type="hidden" name="upvote" value="{{ value }}">
                                    <td><input type="submit" value="hightlightupvote"></td>
                                </form>
                                <form action="{{ url_for('downvote') }}" method="post">
                                    <input type="hidden" name="downvote" value="{{ value }}">
                                    <td><input type="submit" value="downvote"></td>
                                </form>
                            {% elif highlightVote[idx] == -1 %}
                                <form action="{{ url_for('upvote') }}" method="post">
                                    <input type="hidden" name="upvote" value="{{ value }}">
                                    <td><input type="submit" value="upvote"></td>
                                </form>

                                <form action="{{ url_for('downvote') }}" method="post">
                                    <input type="hidden" name="downvote" value="{{ value }}">
                                    <td><input type="submit" value="highlightdownvote"></td>
                                </form>
                            {% else %}
                                <form action="{{ url_for('upvote') }}" method="post">
                                    <input type="hidden" name="upvote" value="{{ value }}">
                                    <td><input type="submit" value="upvote"></td>
                                </form>

                                <form action="{{ url_for('downvote') }}" method="post">
                                    <input type="hidden" name="downvote" value="{{ value }}">
                                    <td><input type="submit" value="downvote"></td>
                                </form>
                            {% endif %}
                        {% else %}
                            <form action="{{ url_for('upvote') }}" method="post">
                                <input type="hidden" name="upvote" value="{{ value }}">
                                <td><input type="submit" value="upvote"></td>
                            </form>

                            <form action="{{ url_for('downvote') }}" method="post">
                                <input type="hidden" name="downvote" value="{{ value }}">
                                <td><input type="submit" value="downvote"></td>
                            </form>
                        {% endif %}
                    {% elif key == 'votesum' %}
                        <td> Vote value:</td>
                        <td>{{ value }}</td>
                    {% endif %}

                    {% if key == 'username' and login == value %}
                        <form action="{{ url_for('delete_comment') }}" method="post">
                        <input type="hidden" name="delComment" value={{ saveCommentID }}>
                        <td><input type="submit" value="Delete Comment"></td>
                        </form>
                    {% endif %}

                {% endfor %}
                {% set add = count.append(1) %}
            </tr>
        {% endfor %}
    </table>
    <p>Enter your comments: </p>
    <form method="post">
<textarea rows="4" cols="50" name="textbox">
Enter text here...</textarea>
        <input type="hidden" name="course-code" value={{ courseID }}>
        <input type="submit">
    </form>

{% endblock %}