<script src="{{ url_for('static', filename='js/cascading.js') }}"></script>

{% extends 'base.html' %}

{% block main %}



    {% if not login %}
        <form action="/login" method="post">
            Username: <input name="username">
            Password: <input name="password">
            <input type="submit" id="login-attempt" name="login-attempt" value="login">
        </form>
        <form method="post">
            <input type="submit" name="sign-up" value="signup">
        </form>
    {% else %}
        <p> Welcome back {{ login }}</p>
        <a href={{ url_for('logout') }}>logout</a>
    {% endif %}
    <p>Eligible Courses based off your ELB2R2</p>
    <form method="post">
        <table>
            <tr>
                <td></td>
                <td>subjects</td>
                <td>grades</td>
            </tr>
            <tr>
                <td>EL</td>
                <td>
                    <input type="text" value="English" disabled>
                </td>
                <td><input name="grade1" type="number" required></td>
            </tr>
            <tr>
                <td>R1</td>
                <td>
                    <select id="R1" name="R1">
                        <option value="eng">English</option>
                        <option value="chi">Higher Mother Tongue</option>
                    </select></td>

                <td><input name="grade2" type="number" required></td>
            </tr>
            <tr>
                <td>R2</td>
                <td>
                    <select id="R2" name="R2">
                        <option value="eng">English</option>
                        <option value="chi">Higher Mother Tongue</option>
                    </select></td>

                <td><input name="grade3" type="number" required></td>
            </tr>
            <tr>
                <td>B1</td>
                <td>
                    <select id="R3" name="R3">
                        <option value="eng">English</option>
                        <option value="chi">Higher Mother Tongue</option>
                    </select></td>

                <td><input name="grade4" type="number" required></td>
            </tr>
            <tr>
                <td>B2</td>
                <td>
                    <select id="R4" name="R4">
                        <option value="eng">English</option>
                        <option value="chi">Higher Mother Tongue</option>
                    </select></td>

                <td><input name="grade5" type="number" required></td>
            </tr>
        </table>

        <input type="checkbox" name="NYP" value="NYP">
        <label for="NYP">Nanyang Polytechnic</label><br>
        <input type="checkbox" name="NP" value="NP">
        <label for="NYP">Ngee Ann Polytechnic</label><br>
        <input type="checkbox" name="SP" value="SP">
        <label for="NYP">Singapore Polytechnic</label><br>
        <input type="checkbox" name="RP" value="RP">
        <label for="NYP">Republic Polytechnic</label><br>
        <input type="checkbox" name="TP" value="TP">
        <label for="NYP">Temasek Polytechnic</label><br>
        <input type="submit" id="eligible-course" name="eligible-course">
    </form>




    <form method="post">
        <p>Find courses from school</p>
        Polytechnic: <select name="poly" id="poly">
        <option value="" selected="selected">Select Polytechnic</option>
    </select>
        <br><br>
        School: <select name="school" id="school" required>
        <option value="" selected="selected">Please select polytechnic first</option>
    </select>
        <br><br>
        <input type="submit" id="school-course" name="school-course">
    </form>
    <!-- scholarship form -->
    <form method="post">
        <p>Find scholarships from school</p>
        Polytechnic: <select name="poly" id="poly2">
        <option value="" selected="selected">Select Polytechnic</option>
    </select>
        <br><br>
        School: <select name="school" id="school2" required>
        <option value="" selected="selected">Please select polytechnic first</option>
    </select>
        <br><br>
        <input type="submit" id="school-scholarship" name="school-scholarship">
    </form>
{% endblock %}

