{% extends 'base.html' %}

{% block main %}

    {% if not login %}
        <form action="/login" method="post">
            Username: <input name="username">
            Password: <input name="password">
            <input type="submit" id="login-attempt" name="login-attempt" value="login">
        </form>
    {% else %}
        <p> Hi {{ login }}</p>
        <a href={{ url_for('logout') }}>logout</a>
    {% endif %}
    <body>
    <p>showing scholarships offered by {{ school }}</p>
    <table>
        <tr>
            <td>Scholarships</td>
            <td>Criteria</td>
        </tr>

        {% for scholarships in scholarshipsOffered %}
            <tr>
            {% for key, value in scholarships.items() %}
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        {% endfor %}

    </table>

{% endblock %}