{% extends 'base.html' %}

{% block main %}

<body>
    <nav class="navbar sticky-top navbar-light bg-light">
        <ul>
            <li><a href="/">Home</a></li>
    
            {% if not login %}
       
            <li><a href="/login-form">Login</a></li>
    
            <li><a href="/signup">Sign Up</a></li>
    
            {% else %}
            <li><a href={{ url_for('logout') }}>Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if not login %}
    {% else %}
        <p> Hi {{ login }}</p>
    {% endif %}


    <div class="section">
    <p>showing scholarships offered by {{ school }}</p>
    <table class="course-table table table-light-grey table-border">
        <thead>
            <tr>
                <td>Scholarships</td>
                <td>Criteria</td>
            </tr>
        </thead>
        <tbody>
            {% for scholarships in scholarshipsOffered %}
                <tr>
                {% for key, value in scholarships.items() %}
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}